<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OpenPix_Pix::first_level_demo"
             title="OpenPix"
             module="OpenPix_Pix"
             sortOrder="9999"
             resource="Magento_Backend::content" />
        <add id="OpenPix_Pix::configuration"
             title="Configuration"
             module="OpenPix_Pix"
             sortOrder="0"
             action="adminhtml/system_config/edit/section/openpixconfiguration"
             parent="OpenPix_Pix::first_level_demo"
             resource="Magento_Backend::content"/>
    </menu>
</config>
