<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="openpix_configurations" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>OpenPix</label>
                <include path="OpenPix_Pix::system/pix.xml"/>
            </group>
        </section>

        <tab id="openpix" sortOrder="999" translate="label">
            <label>OpenPix</label>
        </tab>
        <section id="openpixconfiguration" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Configuration</label>
            <tab>openpix</tab>
            <resource>OpenPix_Pix::config_openpix_payment</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20"
                       translate="label"
                       type="select">
                    <label>Mode</label>
                    <source_model>OpenPix\Pix\Model\Config\Source\Mode</source_model>
                </field>
                <field id="app_ID" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label"
                       type="text">
                    <label>App ID</label>
                    <validate>required-entry</validate>
                </field>
                <field id="webhook_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50"
                       translate="label" type="text">
                    <label>Webhook Key</label>
                    <comment model="OpenPix\Pix\Model\WebhookKey"/>
                    <frontend_model>OpenPix\Pix\Block\System\Config\Form\Field\Disable</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
