<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <openpix_pix>
                <active>1</active>
                <title translate="label">Pay with Pix</title>
                <model>OpenPix\Pix\Model\Pix\Pix</model>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
            </openpix_pix>
        </payment>
        <openpixconfiguration>
            <general>
                <mode>2</mode>
                <test>values</test>
            </general>
        </openpixconfiguration>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
                <admin>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </admin>
            </policies>
        </csp>
    </default>
</config>
